


<div class="card">
    <div class="card-header">
       <h4><a class="link" href="/post/{{id}}">{{title}}</a>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p></h4>
            {{#if image}}
                <img class="productImage" src = "/images2/{{image}}"></img>
            {{/if}}
        
    </div>
        <p class="card-body">{{content}}</p>
</div>
